.wrapp-main-block.wrapp
    .main-block.paralax.bg
        .main-block-item           
            .main-block__menu-links     
                .main-block__humb
                .main-block__menu Меню
                #menu 
                    .menu-item   
                        a(href="").main-block__link-menu О нас
                        .line
                    .menu-item   
                        a(href="").main-block__link-menu Портфолио
                        .line
                    .menu-item 
                        a(href="").main-block__link-menu Розроботка
                        .line
                    .menu-item 
                        a(href="").main-block__link-menu Продвижение
                        .line
                    .menu-item 
                        a(href="").main-block__link-menu Контакти
                        .line
  
                .main-block__links
                    a(href="").main-block__link Портфолио
                    a(href="").main-block__link О нас
                    a(href="").main-block__link Контакты
            img.main-block__logo(src="images/logo.svg", alt="alt")


          
            
        .main-block-item1
            .main-block-text1
                img.main-block__text(alt="img" src="images/дизайн.svg")
                img.main-block__text1(alt="img" src="images/text2.svg")
            .main-block-text
                .main-block-text__description Мы знаем как привлечь пользователей на Ваш сайт и превратить их в покупателей 
                img.main-block__text2(alt="img" src="images/text1.svg")

        
     
        .main-block-item2
            .main-block__icons
                
                a(href="")
                    img.main-block__icon(src="images/facebook.svg", alt="img")
                a(href="")
                    img.main-block__icon(src="images/instagram.svg", alt="img")
                a(href="")
                    img.main-block__icon(src="images/behance.svg", alt="img")
                a(href="")
                    img.main-block__icon(src="images/dribbble.svg", alt="img")
                a(href="")
                    img.main-block__icon(src="images/linkedin.svg", alt="img")

            .main-block__info
                .main-block__contact
                    .main-block__phone +38 (093) 058 60 40 
                    .main-block__email sales@mango.agency

            .main-block__languages
                .main-block__lang.main-block__lang_hover [рус]
                .main-block__lang укр 
                .main-block__lang eng



        
    



        



                
           

            
