@import "_variable";
@import "../componets/main-block/main-block";

body {
  background: white;

  position: relative;
  overflow-x:hidden
}
body,
html {
  min-height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
}
